{% sw_extends '@Storefront/storefront/component/line-item/type/generic.html.twig' %}

{% block component_line_item_type_generic_col_remove %}
    {% if lineItem.type is same as ('refundTotal')
        or lineItem.type is same as ('refund') %}
        <div class="line-item-remove">
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}